<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ultrix</title>
    <environment names="Development, Production">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Development, Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
            <div class="nav-wrapper container">
                @Html.ActionLink("Ultrix", "IndexAsync", "Meme", new { area = "" }, new { @class = "brand-logo" })
                <ul class="right show-on-large show-on-medium hide-on-small-only">
                    <li>@Html.ActionLink("Home", "IndexAsync", "Meme")</li>
                    <li>@Html.ActionLink("Trending", "Trending", "Meme")</li>
                    <li>@Html.ActionLink("Collections", "Collections", "Collection")</li>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="userMenu">
                            <i class="material-icons" style="line-height: unset; height: auto;">account_circle</i>
                        </a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    await Html.RenderPartialAsync("../Account/UsersMenu");
                }
                else
                {
                    await Html.RenderPartialAsync("../Account/Login", new LoginViewModel { ReturnUrl = Url.Action("IndexAsync", "Meme") });
                }
                <ul id="nav-mobile" class="side-nav hide-on-large-only hide-on-med-only show-on-small">
                    <li>@Html.ActionLink("Home", "IndexAsync", "Meme")</li>
                    <li>@Html.ActionLink("Trending", "Trending", "Meme")</li>
                    <li>@Html.ActionLink("Collections", "Collections", "Collection")</li>
                </ul>
            </div>
        </nav>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container">
        @RenderBody()
        <hr />
    </div>

    <footer class="blue-grey darken-2 orange">
        <div class="container">
            <div class="row">
                <div class="col l3 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job support and continue development on this project.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Languages</h5>
                    <ul>
                        <li><a class="white-text" href="#!">C#</a></li>
                        <li><a class="white-text" href="#!">Java</a></li>
                        <li><a class="white-text" href="#!">PHP</a></li>
                        <li><a class="white-text" href="#!">Python</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Categories</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Backend Web</a></li>
                        <li><a class="white-text" href="#!">Mobile</a></li>
                        <li><a class="white-text" href="#!">Desktop</a></li>
                        <li><a class="white-text" href="#!">Frontend Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
