<ul id="userMenu" class="dropdown-content wider" style="overflow: hidden!important">
    <li>@Html.ActionLink("Profile Settings", "", "")</li>
    <li>@Html.ActionLink("My collections", "MyCollectionsAsync", "Collection")</li>
    <li>@Html.ActionLink("Followers", "FollowersAsync", "Follower")</li>
    <li>@Html.ActionLink("Shared Memes", "", "")</li>
    <li>@Html.ActionLink("Logout", "LogoutAsync", "Account")</li>
</ul>