@model CollectionCarouselViewModel

<div id='@(Model.Collection.Id + "CollectionDiv")'>
    <h3>@Model.Collection.Name</h3>
    <div id='@(Model.Collection.Id + "Modal")' class="modal">
        <div class="modal-content">
            <h4>Delete @Model.Collection.Name ?</h4>
            <p>Are you sure you want to delete this collection?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <form method="post" id='@(Model.Collection.Id + "DeleteCollectionForm")'>
                <input type="hidden" name="Id" value="@Model.Collection.Id" />
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="deleteCollection('@(Model.Collection.Id + "DeleteCollectionForm")', '@(Model.Collection.Id + "CollectionDiv")')">Yes</a>
            </form>
        </div>
    </div>
    <div class="collection-grid-container">
        <div id='@(Model.Collection.Id + "jssor_1")' style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:150px;overflow:hidden;visibility:hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/images/spin.png" />
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;">
                @foreach (CollectionItemDetailDto collectionItemDetail in Model.Collection.CollectionItemDetails)
                {
                    <div>
                        <a href="#@collectionItemDetail.Meme.Id">
                            <img data-u="image" class="img-responsive" src="@collectionItemDetail.Meme.ImageUrl">
                        </a>
                    </div>
                }
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb057" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="b" cx="8000" cy="8000" r="5000"></circle>
                    </svg>
                </div>
            </div>
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora073" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <path class="a" d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z"></path>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora073" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <path class="a" d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z"></path>
                </svg>
            </div>
        </div>
        @if (Model.IsSubscribable)
        {
            <div class="button-container">
                @Html.ActionLink("View collection", "CollectionAsync", "Collection", new { id = Model.Collection.Id }, new { @class = "waves-effect waves-light btn" })
            </div>
        }
        else
        {
            <div class="button-grid-container">
                <a class="waves-effect waves-light btn modal-trigger" href='@("#" + Model.Collection.Id + "Modal")'>Delete collection</a>
                <a class="waves-effect waves-light btn">Manage collection</a>
                @Html.ActionLink("View collection", "CollectionAsync", "Collection", new { id = Model.Collection.Id }, new { @class = "waves-effect waves-light btn" })
            </div>
        }
    </div>
    <script>
    $(document).ready(function () {
        $('@("#" + Model.Collection.Id + "Modal")').modal();
    });
    </script>

    <script type="text/javascript">
    jssor_1_slider_init = function () {

        var jssor_1_options = {
            $AutoPlay: 1,
            $AutoPlaySteps: 5,
            $SlideDuration: 160,
            $SlideWidth: 200,
            $SlideSpacing: 3,
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 5
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_1_slider = new $JssorSlider$('@(Model.Collection.Id + "jssor_1")', jssor_1_options);

        /*#region responsive code begin*/

        var MAX_WIDTH = 980;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {

                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                jssor_1_slider.$ScaleWidth(expectedWidth);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $Jssor$.$AddEvent(window, "load", ScaleSlider);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
    };
    </script>
    <script type="text/javascript">jssor_1_slider_init();</script>
</div>