@model FilteredApplicationUserDto  

<li class="collection-item avatar">
    <img src="~/images/default_user.jpg" alt="user image" class="circle">
    <span class="title">@Model.ApplicationUserDto.UserName</span>
    <p>
        Likes memes!
        <br>
    </p>
    @if (Model.IsFollowed)
    {
        <form class="col s1" method="post" id='@(Model.ApplicationUserDto.Id + "UnFollowForm")'>
            <input type="hidden" id="FollowerId" name="FollowerId" value="@Model.ApplicationUserDto.Id" />
            <i class="material-icons" onclick="unFollow('@(Model.ApplicationUserDto.Id + "UnFollowForm")')">remove_circle</i>
        </form>
    }
    else
    {
        <form class="col s1" method="post" id='@(Model.ApplicationUserDto.Id + "FollowForm")'>
            <input type="hidden" id="UserId" name="UserId" value="@Model.ApplicationUserDto.Id" />
            <i class="material-icons" onclick="follow('@(Model.ApplicationUserDto.Id + "FollowForm")')">person_add</i>
        </form>
    }
</li>